<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs', {title : 'ProductAdd'}) %>

    <body class="productAdd">
        <%- include('../partials/header.ejs') %>
            <section>
                <div class="button-volver-nombre">
                    <a href="/"><i class="fas fa-angle-left"></i></a>
                    <a class="Cybersound" href="/">CyberSound</a>
                </div>
                <h1>carga y edición de productos</h1>
                <form action="" method="POST">
                    <input type="text" name="name" id="" placeholder="Nombre del Producto" required>
                    <label class="description-lab" for="description">Descripción</label>
                    <textarea class="description-text" name="description" cols="10" rows="5"></textarea>
                    <div class="div-image">
                        <label class="image" for="image">Elegir Imagen Principal</label>
                        <input class="file" type="file" multiple name="images" id="image" accept=".png, .jpeg, .jpg" required>
                    </div>
                    <label for="cuota">Elegir Cuotas</label>
                    <div class="form-div-cuotas">
                        <div class="checkbox">
                            <input type="checkbox" name="cuota" value=3 id="cuota">
                            <label for="cuota">3</label>
                        </div>
                        <div class="checkbox checkbox2">
                            <input type="checkbox" name="cuota" value=6 id="cuota">
                            <label for="cuota">6</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="cuota" value=12 id="cuota">
                            <label for="cuota">12</label>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label for="stock">Stock Disponible</label>
                    </div>
                    <input type="number" name="stock" value="" placeholder="Stock Disponible">

                    <input type="number" name="price" placeholder="Precio">
                    <div class="checkbox">
                        <label for="discount">Descuento</label>
                    </div>
                    <input type="number" name="discount" placeholder="Porcentaje de Descuento">
                    <div class="checkbox">
                        <input type="checkbox" name="deliveryFree" id="">
                        <label for="deliveryFree">Envio Gratis</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="masVendido" value=true id="masVendido">
                        <label for="masVendido">Mas Vendido</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="oferta" value=true id="oferta">
                        <label for="cuota">Oferta</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" name="show" value=true id="show">
                        <label for="cuota">Mostrar en Home</label>
                    </div>
                    <select name="category" id="category" value=Categorias>
                        <option disabled selected value="categorias">Categorias</option>
                        <option value="teclados">Teclados</option>
                        <option value="mouses">Mouses</option>
                        <option value="headphones">Headphones</option>
                        <option value="parlantes">Parlantes</option>
                        <option value="streaming">Streaming</option>
                    </select>
                    <input type="submit" value="Guardar Cambios" class="button-continuar">
                </form>

            </section>
            <%- include('../partials/footer.ejs') %>

    </body>

</html>