main{
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
}
.carrito-cart{
    display: flex;
    font-size: 14px;
    padding-top: 20px;
    align-content: center;
    margin:0px 31vw;
}
.cant-items-cart{
    display: flex;
    font-size: 11px;
    align-items: flex-end;   
}
.line-carrito-cart{
    display: none;
}
.sec-cart-article{
    /* display: flex; */
    width: 90%;
    margin: auto;
}
.article-cart{
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    border-bottom: 1px solid var(--color-naranja);
    padding-left: 15px;
    padding-right: 15px;
}
.product-cart{
   width: 100px;
   height: 100px;
   margin-bottom: 8px;
   margin-top: 35px;
   border-radius: 10%;
}
.list-product-cart{
    width: 100%;
}
.name-product-cart{
    display: flex;
    justify-content: space-evenly;
    margin-left: 11vw;
}
.title-product-cart{
    margin-right: 7vw;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.quit-product-cart{
    font-weight: bold;
}
.descript-product-cart{
    list-style-type: disc;
    margin-left: 20px;
    font-size: 10px;
}
.descript-product-cart li{
    margin-bottom: 10px;
}
.cantidad-product-cart{
    font-weight: bolder;
    font-size: 10px;
    padding-left: 20px;
    margin-bottom: 8px;
    padding-top: 25px;
}
.cant-num-product-cart{
    font-size: 10px;
    border: solid 1px white;
    padding: 2px 4px;
    border-radius: 40%;
    margin-bottom: 8px;
}
.price-product-cart{
    font-size: 10px;
    text-align: end;
    margin-right: 0;
    padding-right: 0;
}
@media (min-width:426px){
   .carrito-cart{
       width: 90%;
       margin: auto;
   }
   .cant-items-cart{
       width: 85px;
   }
   .line-carrito-cart{
    display: initial;
    width: inherit;
    border-bottom: solid 1px var(--color-naranja);
   }
    .article-cart{
        flex-direction: row;
        padding-left: 0px;
    }
    .product-cart{
        width: 140px;
        height: 140px;
        margin-top: 15px;
    }
    .name-product-cart{
        justify-content: space-between;
        margin-left: 4vw;
        margin-top: 20px;
    }
    .descript-product-cart{
        margin-left: 25px;

    }
}
@media (min-width:768px){
    .list-product-cart{
        margin-left: 1vw;
    }
    .product-cart{
        width: 20vw;
        height: 20vw;
        margin-top: 6%;
    }
}
