#carouselExampleCaptions, #carouselExampleIndicators2, .proximos{
    display: none;
}
.carousel-item{
    height: 30vh;
    width: 100%;
    background-size: 100%;
}

 .carousel-item h5{
 color: var(--color-naranja);
 
}


.carousel-item p{
 color: var(--color-blanco);
 
}



/* indicadores */

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
 border-radius: 50%;
 background-color: var(--color-naranja);
 
}

/* Breakpints o Media Querys */

@media (min-width:768px) {
    #carouselExampleCaptions, #carouselExampleIndicators2, .proximos{
        display: block;
    }  
}
@media (min-width:1024px) {
    .carousel-item{
        height: 48vh;
      
    }
    

}
