/* #carouselExampleCaptions, #carouselExampleIndicators2, .proximos{
    display: none;
} */

.carousel-item{
    height: 10vh;
    width: 100%;
    background-size: 100%;
}

 .carousel-item h5{
 color: var(--color-naranja);
 
}


.carousel-item p{
 color: var(--color-blanco);
 
}



/* indicadores */

.carousel-indicators [data-bs-target] {
    height: 10px;
    width: 10px;
 border-radius: 50%;
 background-color: var(--color-naranja);
}

.carousel-indicators {
    bottom: -20px;
}

/* Breakpints o Media Querys */

@media (min-width:768px) {
    #carouselExampleCaptions, #carouselExampleIndicators2, .proximos{
        display: block;
    }  

    .carousel-item{
        height: 22vh;
        width: 100%;
        background-size: 100%;
    }

    /* indicadores */

.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px; 
}

.carousel-indicators {
    bottom: 0px;
}
}

@media (min-width:1024px) {
    .carousel-item{
        height: 48vh;
      
    }

/*     .carousel-item{
        height: 30vh;
        width: 100%;
        background-size: 100%;
    } */
    

}
