main{
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
}
.carrito-cart{
    display: flex;
    font-size: 14px;
    padding-top: 20px;
    align-content: center;
    margin:0px 31vw;
}
.cant-items-cart{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    align-items: flex-end;   
}
.line-carrito-cart{
    display: none;
}
.sec-cart-article{
    /* display: flex; */
    width: 90%;
    margin: auto;
}
.article-cart{
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    border-bottom: 1px solid var(--color-naranja);
    padding-left: 15px;
    padding-right: 7px;
}
.product-cart{
   width: 150px;
   height: auto;
   margin-bottom: 8px;
   margin-top: 35px;
   border-radius: 10%;
}
.list-product-cart{
    width: 100%;
}
.name-product-cart{
    display: flex;
    justify-content: space-evenly;
    margin-left: 11vw;
}
.title-product-cart{
    margin-right: 7vw;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.quit-product-cart{
    font-weight: bold;
    cursor: pointer;
}

.quit-product-cart:hover {
    color: red;
}

.descript-product-cart{
    list-style-type: disc;
    margin-left: 20px;
    font-size: 10px;
}
.descript-product-cart li{
    margin-bottom: 10px;
}
.cantidad-product-cart{
    font-weight: bolder;
    font-size: 10px;
    padding-left: 20px;
    margin-bottom: 8px;
    padding-top: 25px;
}
.cant-num-product-cart{
    font-size: 10px;
    border: solid 1px white;
    padding: 2px 4px;
    border-radius: 40%;
    margin-bottom: 8px;
}
.price-product-cart{
    font-size: 10px;
    text-align: end;
    margin-right: 0;
    padding-right: 0;
}
.sec-subtotal-cart{
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    margin-top: 10px;

}
.subtotal-line-cart{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    margin-top: 25px;
    border-top: solid 1px var(--color-naranja);
    padding: 2px 5%;
}
.div-location-line-cart{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
}
.location-cart{
    display: flex;
}
.div-costo-env-word-cart{
    display: flex;
    align-items: center;
}
.but-location-cart{
    font-size: 11px;
    margin-left: 8px;
    color: white;
    background-color: var(--color-naranja);
    font-weight: bold;
    padding: 3px 3px;
    border-radius: 8px;
}
.cod-desc-cart{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-naranja);
}
.input-cod-desc-cart {
    background-color:lightgray;
    font-weight:bold;
    padding: 1px;
    border-radius: 12px;
    width: 100px;
    color: var(--color-violeta);
    outline: transparent;
    text-align: center;
}
.input-cod-desc-cart::placeholder{
    text-align: center;    
}
.but-cod-desc-cart{
    color: white;
    background-color: var(--color-naranja);
    font-weight: normal;
    padding: 1px 5px;
    border-radius: 7px;
    margin-top: 4px;
}
.total-line-cart{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    margin-top: 2px;
}
.div-button-pay-cart{
    margin: 20px auto 35px;    
}
.but-pay-cart{
    background-color: var(--color-naranja);
    color: white;
    font-size: 25px;
    padding: 1px 20px;
    border-radius: 12px;
}
.credit-cards-cart{
    margin:auto;
    width: auto;
    margin-bottom: 50px;
}
.credit-cards-img{
    width:40vw;
}
@media (min-width:426px){
   .carrito-cart{
       width: 90%;
       margin: auto;
   }
   .cant-items-cart{
       width: 85px;
   }
   .line-carrito-cart{
    display: initial;
    width: inherit;
    border-bottom: solid 1px var(--color-naranja);
   }
    .article-cart{
        flex-direction: row;
        padding-left: 0px;
    }
    .product-cart{
        width: 140px;
        height: 140px;
        margin-top: 15px;
    }
    .name-product-cart{
        justify-content: space-between;
        margin-left: 4vw;
        margin-top: 20px;
    }
    .title-product-cart{
        margin-bottom: 6%;
    }
    .descript-product-cart{
        margin-left: 25px;

    }
    .descript-product-cart li{
        margin-bottom: 3%;
    }
    .price-product-cart{
        margin: 0% 20px 0px;
    }
}
@media (min-width:769px){
    .carrito-cart{
        font-size: 18px;
    }
    .cant-items-cart{
        font-size: 14px;
    }
    .list-product-cart{
        margin-left: 2vw;
    }
    .title-product-cart{
        font-size: 20px;        
    }
    .product-cart{
        width: 25vw;
        height: auto;
        margin-top: 3%;
    }
    .descript-product-cart{
        font-size: 16px;
    }
    .cantidad-product-cart,.cant-num-product-cart, .price-product-cart {
        font-size: 16px;
    }
    /* .price-product-cart{
        margin: 0% 20px 0px;
    } */
    .sec-subtotal-cart{
        font-size: 16px;
    }
}
@media (min-width:1024px){
    .product-cart{
        width: 275px;
        margin-left: 0px;
    }
}