.login{
    background-color: var(--color-gris-oscuro);
}

.login section{
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
}
.login .button-volver-nombre{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 12px auto;
    align-items: center;
     
    
}
.login .caja-login{
          margin-top: 30px;
          margin-bottom: 120px;
}
.login .button-volver-nombre .fas{
    font-size: 40px;
}
.login .button-volver-nombre .Cybersound{
    font-weight: 900;
    font-size: 15px;
}

.login .button-volver-nombre .fas, .Cybersound, .h1-ingresar{ 
    color:var(--color-violeta);
    margin-top: 80px;   
}
.login .google{
    background-color: var(--color-naranja);
    border-radius: 24px;
    border: none;
    
}

.login button.google a{
    height: 40px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 10px;
    color: var(--color-blanco);
    border: none;
}
.login button .fab{
    font-size: 40px;
}
.login h2{
    font-size: 20px;
    color: var(--color-naranja);
    font-weight: 400;
    margin: 30px 0;
}
.login section form input{
    background-color: var(--color-naranja);
    border-radius: 10px;
    border: none;
    width: 185px;
    height: 38px;
    margin: 10px auto;
    padding-left: 10px;
    display: block;
    font-weight: bold;
    color: var(--color-blanco);
}
.span-eye-input{
    position: relative;
    height: 100%;
    width: 265px;
    margin: auto;    
}
.icon-eye {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
}
.icon-eye .fas{
color: black;
font-size: 18px;
}

.icon-eye .fas:hover{
font-size: 22px;
}

.icon-eye2 {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor:pointer;
}
.icon-eye2 .fas{
color: black;
font-size: 18px;
}

.icon-eye2 .fas:hover{
font-size: 22px;
}


/*##############################*/
/* Al tener un error en el form */
.login section form .is-invalid{
    border: 2px solid red;
}

.login section #error-empty {
    color: red;
}

/* Al estar ok el form */
.login section form .is-valid{
    border: 2px solid green;
}
/*##############################*/

.remember{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
}
.remember label{
    color: var(--color-naranja);
    font-weight: bold;
}
#remember{
    height: 20px;
    width: 20px;
    background-color: turquoise;
}
#remember:hover{
    box-shadow: 0 0 8px rgba(30, 209, 253, 0.918)
}
.login section form input:focus{
    background-color: var(--color-violeta);
    outline: thin dotted;
}

.login section form input::placeholder{
    color: var(--color-blanco);

}
.login section form input.boton-ingresar{
    width: 100px;
    height: 30px;
    background-color: var(--color-violeta);
    padding-left: 0;
    margin: 15px auto;
    cursor: pointer;
}    
.login p, h6{
    font-size: 10px;
    color: var(--color-naranja);
    font-weight: 400;
}
.login section a.naranja{
    font-size: 10px;
    color: var(--color-naranja);
    font-weight: bold;

}
.login section a.violet{
    font-size: 10px;
    font-weight: bold;
    color: var(--color-violeta)
}
.login section a.naranja:hover{
    color: var(--color-violeta);
 }

 .login section form span {
    color: red;
}

  /* media querys* */


@media (min-width:426px){
    .login section .button-volver-nombre{
        max-width: 438px;
    }
    
    .login .button-volver-nombre .fa-angle-left{
        font-size: 50px;
    }
    .login .button-volver-nombre .Cybersound{
        font-size: 20px;
    }
    
    .login  .h1-ingresar{ 
        font-size: 35px;
        font-weight: 400;  
    }
    
    .login button.google a{
        height: 40px;
        width: 205px;
        font-size: 13px;
    }
    .login button .fab{
        font-size: 40px;
    }
    .login h2{
        font-size: 35px;
         
    }
    .login section form input{
        width: 225px;
        height: 42px;
    }
    .remembercheck{
        height: 20px;
    }
    .login section form input.boton-ingresar{
        width: 80px;
        height: 30px;
    }    
    .login p, h6{
        font-size: 15px;
    }
    .login section a.naranja{
        font-size: 15px;
    }
    .login section a.violet{
        font-size: 15px;
  
    }
}


@media (min-width:769px){
    .login section .button-volver-nombre{
        max-width: 850px;
    }
    .login .button-volver-nombre .fa-angle-left{
        font-size: 50px;
    }
    
    .login button.google a{
        height: 44px;
        width: 245px;
        font-size: 15px;
    }

    .login section form input{
        width: 265px;
        height: 44px;
    }
    .remembercheck{
        height: 20px;
    }
    .login section form input.boton-ingresar{
        width: 180px;
        height: 37px;
    }    
    .login p, h6{
        font-size: 18px;
    }
    .login section a.naranja{
        font-size: 18px;
    }
    .login section a.violet{
        font-size: 18px;
  
    }

}

@media (min-width:1024px){
  
}