.productAdmin {
    
    background-color: var(--color-gris-medio);
    color: var(--color-blanco3);
    font-weight: 500;
    font-family: Verdana;
}
.productAdmin .h1-admin{
     padding-bottom: 10px;
}
.productAdmin .td{
    max-height: 20px;
}
.productAdmin .violeta-table{
    background-color: var(--color-violeta);    
}
.img-table{
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px
}
.productAdmin .gris-table{
    background-color: grey;
}
.productAdmin .naranja-table{
    background-color: var(--color-naranja);
    position: sticky;
    top: 159px;
    z-index: 2;
}
.productAdmin .tabla-admin{
 width: 95vw;
 text-align: center;
 margin: auto;
}
 .violeta-table , .gris-table, .naranja-table{
    border: 1px solid black;
    padding: 3px;
  }

.description-text-admin{
    width: 200px;
    background-color: #e5e5e5;
    font-size: 16px;
}
.fijo-admin{
 position:sticky;
 top: 0;
}
.productAdmin .boton-admin{
        font-size: 18px;
        padding: 4px;
        margin: 15px 5px;
        border-radius: 5px;
        font-weight: bold;
        color: aliceblue;
        border: none;
        overflow: hidden;
        transition: 300ms;    
    }
.productAdmin .boton-admin:hover{
        box-shadow: 0 0 8px rgba(83, 255, 4, 0.5)
    }

.admin-detail{
    background-color: var(--color-verde);
}
.admin-edit{
    background-color:#007BFF;
}
.admin-delete{
    background-color: #DC3545;
}
@media (min-width:1024px){
    .productAdmin .tabla-admin{
        font-size: 12px;
    }
    .description-text-admin{
        width: 120px;
        font-size: 12px;
    }
    .productAdmin .boton-admin{
        font-size: 14px;
    }
}
@media (min-width:1440px){
    .productAdmin .tabla-admin{
        font-size: 18px;
    }
    .description-text-admin{
        width: 200px;
        font-size: 18px;
    }
    .productAdmin .boton-admin{
        font-size: 18px;
    }
}