<footer>
    <nav class="lista1">
        <ul>
            <li><a href="#">ubicación</a></li>
            <li><a href="#">sobre nosotros</a></li>
            <li><a href="/">home</a></li>
            <li><a href="#" class="lista-contact">contacto</a></li>
        </ul>
    </nav>
    <div>
        <h5>por gamers, para gamers.™</h5>
        <nav class="lista2">
            <ul>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-image">
        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
    </div>
    <div class="footer-p">
        <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
    </div>
</footer>