<header>
    <nav>
        <div class="caja-1-desktop">
            <div class="logo-desktop">
                <a href="/">
                    <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                </a>
            </div>
            <div class="barra-inicio">
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="#">categorias</a>
                        <ul>
                            <li><a href="/products/productList/1">Teclados</a></li>
                            <li><a href="/products/productList/2">Mouse</a></li>
                            <li><a href="/products/productList/4">Headphones</a></li>
                            <li><a href="/products/productList/5">Parlantes</a></li>
                            <li><a href="/products/productList/3">Streaming</a></li>
                        </ul>
                    </li>
                    <li><a href="/products/productList/8">ofertas</a></li>
                    <% if (locals.userLogin) { %>
                                 <% if (locals.userLogin.role === "admin") { %>
                                  
                                    <li><a href="#">Admin</a>
                                        <ul>
                                            <li><a href="/products/productAdmin">Listado</a></li>
                                            <li><a href="/products/productAdd">Cargar</a></li>
                                        </ul>
                                    </li>                   
                                 <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="caja-1">
            <div class="menu">
                <button class="burguer-menu">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </button>
            </div>
            <div class="logo-cybersound">
                <a href="/">
                    <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                </a>
            </div>
        </div>
        <h1>CyberSound</h1>
        <% if (locals.userLogin) { %>
            <div class="caja-2">
            <div class="logo-search">
                <!-- <a href="#">
                    <img src="/images/icons/logo-search.svg" alt="logo-search">
                </a> -->
                <form action="/products/search" method="GET">
                    <div class="flexbox">
                        <div class="search">
                          <div>
                            <input name="keywords" type="search" placeholder="Buscar productos..." aria-label="Search" required>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
            <!-- <div class="logo-heart">
                <a href="#">
                    <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                </a>
            </div> -->
            <div class="logo-user">
                <a href="/users/userProfile">
                        <img src="/images/userAvatar/<%=locals.userLogin.image%>" alt="logo-user">
                        <!-- <ul>
                            <li><a href="/users/userProfile">Mi perfil</a></li>
                            <li><a href="/users/logout">Salir</a></li>
                        </ul> -->
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="/products/cart">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>                        
                    <% }else{ %>
                        <div class="caja-2 spectator">
                         <div class="logo-search">
                            <form action="/products/search" method="GET">
                                <div class="flexbox">
                                    <div class="search">
                                      <div>
                                        <input name="keywords" type="search" placeholder="Buscar productos..." aria-label="Search" required>
                                      </div>
                                    </div>
                                  </div>
                            </form>
            </div>
                        <div class="logo-user">
                            <a href="/users/login">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                        <!-- <ul>
                            <li><a href="/users/login">Ingresar</a></li>
                            <li><a href="/users/register">Registrarse</a></li>
                        </ul> -->
                    </a>
                      </div>     
                    <% }%>
              
        </div>
    </nav>
    <!-- <div class="box-3">
        <form action="/products/search" method="GET">
            <div class="flexbox">
                <div class="search">
                  <div>
                    <input name="keywords" type="search" placeholder="Buscar productos..." aria-label="Search" required>
                  </div>
                </div>
              </div>
          <input name="keywords" type="search" placeholder="Buscar productos..." aria-label="Search">
          <button type="submit">Buscar</button>
        </form>
    </div> -->
</header>