<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icons/Logo-sin-Frase.svg">
    <title>Home</title>
</head>

<body class="home">
    <header>
        <nav>
            <div class="caja-1-desktop">
                <div class="logo-desktop">
                    <a href="/">
                        <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                    </a>
                </div>
                <div class="barra-inicio">
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="#">categoriasv</a>
                            <ul>
                                <li><a href="/productList">Teclados</a></li>
                                <li><a href="/productList">Mouse</a></li>
                                <li><a href="/productList">Headphones</a></li>
                                <li><a href="/productList">Parlantes</a></li>
                                <li><a href="/productList">Streaming</a></li>
                            </ul>
                        </li>
                        <li><a href="#">ofertas</a></li>
                        <li><a href="#">ayuda</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja-1">
                <div class="menu">
                    <button class="burguer-menu">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>
                <div class="logo-cybersound">
                    <a href="/">
                        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                    </a>
                </div>
            </div>
            <h1>CyberSound</h1>
            <div class="caja-2">
                <div class="logo-heart">
                    <a href="#">
                        <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                    </a>
                </div>
                <div class="logo-search">
                    <a href="#">
                        <img src="/images/icons/logo-search.svg" alt="logo-search">
                    </a>
                </div>
                <div class="logo-user">
                    <a href="#">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                        <ul>
                            <li><a href="/login">Ingresar</a></li>
                            <li><a href="/register">Registrarse</a></li>
                        </ul>
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="/cart">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <section class="carrousel">
            <img src="/images/carrousel/carrousel1.jpg" alt="carrousel">
            <div class="arrows">
                <button>
                    <i class="fas fa-angle-left"></i>
                </button>
                <button>
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <ul class="dots">
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
            </ul>
        </section>

        <section class="main-home">
            <article class="categories">
                <ul>
                    <li><a href="/productList"><img src="/images/icons/Icono-Teclado.svg"
                                alt="Icono-Teclado"></a></li>
                    <li><a href="/productList"><img src="/images/icons/Icono-Mouse.svg" alt="Icono-Mouse"></a></li>
                    <li><a href="/productList"><img src="/images/icons/Icono-Headphones.svg"
                                alt="Icono-Headphones"></a></li>
                    <li><a href="/productList"><img src="/images/icons/Icono-Parlantes.svg"
                                alt="Icono-Parlantes"></a></li>
                    <li><a href="/productList"><img src="/images/icons/Icono-Streaming.svg"
                                alt="Icono-Streaming"></a></li>
                </ul>
            </article>
            <article class="box">
                <h2>Más vendidos</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-container2">
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="/productList" class="ver-mas">Ver más</a>
                    <a href="/productList" class="ver-mas">></a>
                </div>
            </article>

            <article class="box">
                <h2>Ofertas</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-container2">
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="/productList" class="ver-mas">Ver más</a>
                    <a href="/productList" class="ver-mas">></a>
                </div>
            </article>
        </section>
        <h3>próximos lanzamientos</h3>
        <section class="carrousel">
            <img src="/images/carrousel/carrousel1.jpg" alt="carrousel">
            <div class="arrows">
                <button>
                    <i class="fas fa-angle-left"></i>
                </button>
                <button>
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <ul class="dots">
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
            </ul>
        </section>

    </main>

    <footer>
        <nav class="lista1">
            <ul>
                <li><a href="#">ubicación</a></li>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="/">home</a></li>
                <li><a href="#" class="lista-contact">contacto</a></li>
            </ul>
        </nav>
        <div>
            <h5>por gamers, para gamers.™</h5>
            <nav class="lista2">
                <ul>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-image">
            <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
        </div>
        <div class="footer-p">
            <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>