<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icons/Logo-sin-Frase.svg">
    <title>Login</title>
</head>

<body class="login">
    <header>
        <nav>
            <div class="caja-1-desktop">
                <div class="logo-desktop">
                    <a href="/">
                        <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                    </a>
                </div>
                <div class="barra-inicio">
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="#">categoriasv</a></li>
                        <li><a href="#">ofertas</a></li>
                        <li><a href="#">ayuda</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja-1">
                <div class="menu">
                    <button class="burguer-menu">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>
                <div class="logo-cybersound">
                    <a href="/">
                        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                    </a>
                </div>
            </div>
            <h1>CyberSound</h1>
            <div class="caja-2">
                <div class="logo-heart">
                    <a href="#">
                        <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                    </a>
                </div>
                <div class="logo-search">
                    <a href="#">
                        <img src="/images/icons/logo-search.svg" alt="logo-search">
                    </a>
                </div>
                <div class="logo-user">
                    <a href="/login">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="/cart">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="button-volver-nombre">
            <a href="/"><i class="fas fa-angle-left"></i></a>
            <a class="Cybersound" href="/">CyberSound</a>
        </div>
        <h1 class="h1-ingresar">Ingresar</h1>
        <div class="caja-login"> 
        <button class="google"><a href="/"><i class="fab fa-google"></i>Ingresar con google</a></button>
        <h2>o</h2>
        <form action="/login" method="">
            <div>
                <input type="email" name="Mail-User" placeholder="Email" class="input-naranja">
           
                <input type="password" name="Password" placeholder="Contraseña" class="input-naranja">
            </div>
            <p>olvidaste tu <a class="naranja" href="">usuario</a> o <a class="naranja"  href="">Contraseña </a> ?</p>
            <input type="submit" value="Ingresar" class="boton-ingresar">
        </form>
        <h6>eres nuevo? <a class="violet" href="/register">Registrate</a></h6>
        </div>
    </section>
    <footer>
        <nav class="lista1">
            <ul>
                <li><a href="#">ubicación</a></li>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="/">home</a></li>
                <li><a href="#" class="lista-contact">contacto</a></li>
            </ul>
        </nav>
        <div>
            <h5>por gamers, para gamers.™</h5>
            <nav class="lista2">
                <ul>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-image">
            <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
        </div>
        <div class="footer-p">
            <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>