<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Product Details</title>
</head>

<body class="productDetail">
    <header>
        <nav>
            <div class="caja-1-desktop">
                <div class="logo-desktop">
                    <a href="/">
                        <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                    </a>
                </div>
                <div class="barra-inicio">
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="">categoriasv</a></li>
                        <li><a href="">ofertas</a></li>
                        <li><a href="">ayuda</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja-1">
                <div class="menu">
                    <button class="burguer-menu">
                        <a href="">
                            <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>
                <div class="logo-cybersound">
                    <a href="/">
                        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                    </a>
                </div>
            </div>
            <h1>CyberSound</h1>
            <div class="caja-2">
                <div class="logo-heart">
                    <a href="">
                        <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                    </a>
                </div>
                <div class="logo-search">
                    <a href="">
                        <img src="/images/icons/logo-search.svg" alt="logo-search">
                    </a>
                </div>
                <div class="logo-user">
                    <a href="">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="caja-producto">
            <h1>Nombre Producto</h1>
            <div class="imagen-producto">
                <div class="icon-heart-producto">
                    <a href="">
                        <img src="/images/icons/logo-heart.svg" alt="icon-heart">
                    </a>
                </div>
                <div class="logo-share-producto">
                    <a href="">
                        <img src="/images/icons/share.svg" alt="icon-share">
                    </a>
                    <div class="numero-imagen">
                        <p>1/4</p>
                    </div>
                </div>

            </div>
            <div class="detalle-precio">
                <s>42.999</s>
                <div class="caja-precio">
                    <span class="precio">$ 37.999</span>
                    <span class="descuento"> 30% OFF</span>
                </div>
                <div class="cuotas">
                    <p class="en-negro">en <span class="cuotasverde"> 3x $12.666 sin interes </span></p>
                </div>
                <div class="truck-envio">
                    <i class="fas fa-truck"></i>
                    <span class="enviogratis">Envio Gratis</span>
                </div>
                <div class="stock">
                    <p>stock disponible</p>
                    <span>cantidad: <button>1</button> </span>
                </div>
                <div class="comprar">
                    <button>comprar ahora</button>
                </div>
            </div>
            <div class="desciption-product">
                <ul>
                    <li>Descripcion de producto 1</li>
                    <li>Descripcion de producto 2</li>
                    <li>Descripcion de Producto 3</li>
                </ul>
            </div>
        </div>
    </main>

    <footer>
        <nav class="lista1">
            <ul>
                <li><a href="">ubicación</a></li>
                <li><a href="">sobre nosotros</a></li>
                <li><a href="">home</a></li>
                <li><a href="" class="lista-contact">contacto</a></li>
            </ul>
        </nav>
        <div>
            <h5>por gamers, para gamers.™</h5>
            <nav class="lista2">
                <ul>
                    <li><a href=""><i class="fab fa-google"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-image">
            <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
        </div>
        <div class="footer-p">
            <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>