<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/icons/Logo-sin-Frase.svg">
    <title>Product Details</title>
</head>

<body class="productDetail">
    <header>
        <nav>
            <div class="caja-1-desktop">
                <div class="logo-desktop">
                    <a href="/">
                        <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                    </a>
                </div>
                <div class="barra-inicio">
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="">categoriasv</a></li>
                        <li><a href="">ofertas</a></li>
                        <li><a href="">ayuda</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja-1">
                <div class="menu">
                    <button class="burguer-menu">
                        <a href="">
                            <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>
                <div class="logo-cybersound">
                    <a href="/">
                        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                    </a>
                </div>
            </div>
            <h1>CyberSound</h1>
            <div class="caja-2">
                <div class="logo-heart">
                    <a href="">
                        <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                    </a>
                </div>
                <div class="logo-search">
                    <a href="">
                        <img src="/images/icons/logo-search.svg" alt="logo-search">
                    </a>
                </div>
                <div class="logo-user">
                    <a href="">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="imagen-fondo">
                <img src="/images/fondo.png" alt="" class="fondo-img">
            </div>
            <div class="caja-producto">
                <h1 class="caja-producto-titulo">Nombre Producto</h1>
                <div class="caja-imagen-precio">
                    <div class="caja1-imagenes">
                        <div class="product-imagen">
                            <div class="small-imagen">
                                <img src="/images/teclado-small-1.png" alt="teclado-gamer" class="small-1">
                                <img src="/images/teclado-small-2.png" alt="teclado-gamer" class="small-2">
                                <img src="/images/teclado-small-3.png" alt="teclado-gamer" class="small-3">
                            </div>
                            <img src="/images/teclado.png" alt="teclado-gamer" class="principal-imagen">
                            <a href="">
                                <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                            </a>
                            <span class="numeroimagen">1/4</span>

                        </div>

                    </div>
                </div>
                <div class="detalle-precio">
                    <div class="caja-desktop-titulo">
                        <h2 class="titulo-producto2">Nombre Producto</h2>
                        <a href="">
                            <img src="/images/icons/logo-heart.svg" alt="icon-heart" class="icono-heart">
                        </a>
                    </div>
                    <s>$ 42.999</s>
                    <div class="caja-precio">
                        <span class="precio">$ 37.999</span>
                        <span class="descuento"> 30% OFF</span>
                    </div>
                    <div class="cuotas">
                        <span class="cuotasverde">en 3x $12.666 sin interes </span></p>
                    </div>
                    <div class="pagos">
                        <span>Ver</span><a class="mediospago" href=""> Medios de pago</a>
                        <div class="truck-envio">
                            <i class="fas fa-truck"></i>
                            <span class="enviogratis">Envio Gratis</span>
                        </div>
                        <div class="stock">
                            <p>stock disponible</p>
                            <div class="comprarcantidad">
                                <span>cantidad :</span>
                                <select class="boton-stock">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="comprar"> <a href="/cart"><button type="button" class="boton-comprar">Comprar
                                    ahora</button></a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="description-product">
                <ul>
                    <li>Descripcion de este producto 1</li>
                    <li>Descripcion de este producto 2</li>
                    <li>Descripcion de este Producto 3</li>
                </ul>
            </div>
            <article class="box">
                <h2>Otros productos</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-container2">
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="/productList" class="ver-mas">Ver más</a>
                    <a href="/productList" class="ver-mas">></a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <nav class="lista1">
            <ul>
                <li><a href="">ubicación</a></li>
                <li><a href="">sobre nosotros</a></li>
                <li><a href="">home</a></li>
                <li><a href="" class="lista-contact">contacto</a></li>
            </ul>
        </nav>
        <div>
            <h5>por gamers, para gamers.™</h5>
            <nav class="lista2">
                <ul>
                    <li><a href=""><i class="fab fa-google"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-image">
            <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
        </div>
        <div class="footer-p">
            <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>