<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %>

<body class="login">
    <%- include('../partials/header.ejs') %>
    <section>
        <div class="button-volver-nombre">
            <a href="/"><i class="fas fa-angle-left"></i></a>
            <a class="Cybersound" href="/">CyberSound</a>
        </div>
        <h1 class="h1-ingresar">Ingresar</h1>
        <div class="caja-login"> 
        <button class="google"><a href="/"><i class="fab fa-google"></i>Ingresar con google</a></button>
        <h2>o</h2>
        <form action="/users/login" method="POST">
            <div>
                <input type="email" name="email" placeholder="Email" class="input-naranja">
           
                <input type="password" name="password" placeholder="Contraseña" class="input-naranja">
            </div>

            <div class="remember">
                <label for="remember">RECUERDAME</label>
                <input class="remembercheck" type="checkbox" name="remember" id="remember">
            </div>

            <p><a class="naranja"  href="">Olvidé mi contraseña </a></p>
            <input type="submit" value="Ingresar" class="boton-ingresar">
        </form>
        <h6>eres nuevo? <a class="violet" href="/users/register"> Registrarme</a></h6>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>