<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Register</title>
</head>

<body class="register">

    <header>
        <nav>
            <div class="caja-1-desktop">
                <div class="logo-desktop">
                    <a href="/">
                        <img src="/images/icons/Logo-con-Frase.svg" alt="Logo-con-Frase">
                    </a>
                </div>
                <div class="barra-inicio">
                    <ul>
                        <li><a href="/">inicio</a></li>
                        <li><a href="#">categoriasv</a>
                            <ul>
                                <li><a href="/productList">Teclados</a></li>
                                <li><a href="/productList">Mouse</a></li>
                                <li><a href="/productList">Headphones</a></li>
                                <li><a href="/productList">Parlantes</a></li>
                                <li><a href="/productList">Streaming</a></li>
                            </ul>
                        </li>
                        <li><a href="#">ofertas</a></li>
                        <li><a href="#">ayuda</a></li>
                    </ul>
                </div>
            </div>
            <div class="caja-1">
                <div class="menu">
                    <button class="burguer-menu">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>
                <div class="logo-cybersound">
                    <a href="/">
                        <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
                    </a>
                </div>
            </div>
            <h1>CyberSound</h1>
            <div class="caja-2">
                <div class="logo-heart">
                    <a href="#">
                        <img src="/images/icons/logo-heart.svg" alt="logo-heart">
                    </a>
                </div>
                <div class="logo-search">
                    <a href="#">
                        <img src="/images/icons/logo-search.svg" alt="logo-search">
                    </a>
                </div>
                <div class="logo-user">
                    <a href="#">
                        <img src="/images/icons/logo-user.svg" alt="logo-user">
                        <ul>
                            <li><a href="/login">Ingresar</a></li>
                            <li><a href="/register">Registrarse</a></li>
                        </ul>
                    </a>
                </div>
                <div class="logo-cart">
                    <a href="/cart">
                        <img src="/images/icons/logo-cart.svg" alt="logo-cart">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="button-volver-nombre">
            <a href="/"><i class="fas fa-angle-left"></i></a>
            <a class="Cybersound" href="/">CyberSound</a>
        </div>
        <h1>registro</h1>
        <button type="button" class="button-google"><a href="#"><i class="fab fa-google"></i> continuar con google</a></button>
        <p>o</p>
        <form action="post">
            <input type="text" name="nombre" id="" placeholder="Nombre" required>
            <input type="text" name="apellido" id="" placeholder="Apellido" required>
            <input type="text" name="dni" id="" placeholder="DNI" required>
            <input type="email" name="email" id="" placeholder="Email" required>
            <input type="password" name="password" id="" placeholder="Clave" required>
            <div class="checkbox">
                <input type="checkbox" name="condiciones" id="">
                <label for="condiciones">acepto terminos y condiciones</label>
            </div>
            <input type="submit" value="Continuar" class="button-continuar">
        </form>
        <h6>Tenes una cuenta?</h6>
        <a href="/login">Ingresá</a>
    </section>
    <footer>
        <nav class="lista1">
            <ul>
                <li><a href="#">ubicación</a></li>
                <li><a href="#">sobre nosotros</a></li>
                <li><a href="/">home</a></li>
                <li><a href="#" class="lista-contact">contacto</a></li>
            </ul>
        </nav>
        <div>
            <h5>por gamers, para gamers.™</h5>
            <nav class="lista2">
                <ul>
                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-image">
            <img src="/images/icons/Logo-sin-Frase.svg" alt="logo">
        </div>
        <div class="footer-p">
            <p>Copyright © 2021 CyberSound Inc. All rights reserved.</p>
        </div>
    </footer>

</body>

</html>