<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>  
<body class="home">
    <%- include('../partials/header.ejs') %> 
    <main>
        <section class="carrousel">
            <img src="/images/carrousel/carrousel1.jpg" alt="carrousel">
            <div class="arrows">
                <button>
                    <i class="fas fa-angle-left"></i>
                </button>
                <button>
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <ul class="dots">
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
            </ul>
        </section>

        <section class="main-home">
            <article class="categories">
                <ul>
                    <li><a href="/products/productList"><img src="/images/icons/Icono-Teclado.svg"
                                alt="Icono-Teclado"></a></li>
                    <li><a href="/products/productList"><img src="/images/icons/Icono-Mouse.svg" alt="Icono-Mouse"></a></li>
                    <li><a href="/products/productList"><img src="/images/icons/Icono-Headphones.svg"
                                alt="Icono-Headphones"></a></li>
                    <li><a href="/products/productList"><img src="/images/icons/Icono-Parlantes.svg"
                                alt="Icono-Parlantes"></a></li>
                    <li><a href="/products/productList"><img src="/images/icons/Icono-Streaming.svg"
                                alt="Icono-Streaming"></a></li>
                </ul>
            </article>
            <article class="box">
                <h2>M치s vendidos</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-container2">
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="/products/productList" class="ver-mas">Ver m치s</a>
                    <a href="/products/productList" class="ver-mas">></a>
                </div>
            </article>

            <article class="box">
                <h2>Ofertas</h2>
                <div class="product-container">
                    <div class="product-container2">
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto top pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-container2">
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                        <div class="producto bot pro3">
                            <div class="card-title">
                                <h5>nombre producto</h5>
                            </div>
                            <img src="/images/products/H510-1.png" alt="producto">
                            <div class="heart">
                                <img src="/images/icons/logo-heart.svg" alt="corazon">
                            </div>
                            <div class="masVendido">
                                <p class="cartel-vendido">mas vendido</p>
                                <p class="descuento">33%OFF</p>
                            </div>
                            <div class="precio-desc">
                                <h5>$1324,56</h5>
                                <p>33%OFF</p>
                                <img src="/images/icons/carrito-comprar.svg" alt="">
                            </div>
                            <div class="subtitle">
                                <h5>nombre producto</h5>
                                <div class="info">
                                    <a href="/products/productDetail">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="envio">
                                <i class="fas fa-truck"></i>
                                <p>envio gratis</p>
                            </div>
                            <div class="especificaciones">
                                <a href="/products/productDetail">especificaciones</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more">
                    <a href="/products/productList" class="ver-mas">Ver m치s</a>
                    <a href="/products/productList" class="ver-mas">></a>
                </div>
            </article>
        </section>
        <h3>pr칩ximos lanzamientos</h3>
        <section class="carrousel">
            <img src="/images/carrousel/carrousel1.jpg" alt="carrousel">
            <div class="arrows">
                <button>
                    <i class="fas fa-angle-left"></i>
                </button>
                <button>
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
            <ul class="dots">
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
                <li><i class="far fa-circle"></i></li>
            </ul>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>